:host {
  width: 100%;
  display: flex;
}

.download-wrapper {
  margin-right: 20px;
}

.download-title {
  margin-bottom: 10px;
}

.download-count {
  color: rgb(255, 99, 132);
  font-size: 1.8em;
}

.read-title {
  margin-bottom: 10px;
}

.read-count {
  color: rgb(54, 162, 235);
  font-size: 1.8em;
}

.export-csv {
  margin-left: 10px;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 8px;
}

.flex-layout {
  display: flex;
}

.label-wrapper {
  margin-bottom: 20px;
}
