.dialog-wrapper {
  width: 500px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-dialog-actions {
  flex-direction: row-reverse;
}

.img-wrapper {
  height: 195px;
  width: 158px;
  border: 1px solid #eee;
  border-radius: 3px;
  overflow: hidden;
  margin-right: 20px;
  position: relative;
}

.img-section {
  margin-top: 4px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.img-btn {
  width: 158px;
}

.name-wrapper {
  display: flex;
  flex-direction: 'row';
  align-items: center;
}

.btn-delete {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.img-wrapper:hover .btn-delete {
  display: block;
}

.thumbnail {
  width: 158px;
  height: 158px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail img{
  max-width: 100%;
  max-height: 100%;
}

.default-image {
  color: #ccc;
}

.error {
  border-color: #f44336;
}

.audio-section {
  margin-top: 4px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.btn-upload {
  margin-left: 10px;
}

.audio-wrapper {
  padding: 0px 5px;
  background-color: lightgray;
}

.audio-wrapper > .btn-remove-audio {
  float: right;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.audio-section > .btn-upload > .img-btn{
  width: 150px;
}
