:host {
  width: 100%;
  display: flex;
}

.content-wrapper {
  background-color: #fff;
}

.thumbnail img {
  max-width: 40px;
  max-height: 40px;
}

.scene-wrapper {
  display: flex;
  align-items: center;
}

.scene-name {
  margin-right: 10px;
}
