<mat-toolbar color="primary">
  <app-menu-button></app-menu-button>
  <span *ngIf='!!story'>{{story.title}}'s Quiz</span>
  <span class='spacer'></span>
  <a mat-button routerLink="/stories/{{story_id}}/preview">Preview</a>
  <a mat-button routerLink="/stories">Done</a>
</mat-toolbar>

<section class="mat-typography flex-center" *ngIf='!dataSource.length || loading'>
  <div *ngIf="!dataSource.length && !loading" class='no-item-available'>
    <h3 class='mat-title'>No Questions Available.</h3>
    <div class="mat-body-1" *ngIf='!isAdmin && story.status == "new"'>
      Use <strong>+</strong> button at the bottom-right corner.
    </div>
  </div>

  <mat-spinner diameter='40' *ngIf='loading' color='accent'></mat-spinner>
</section>

<div class="content-wrapper " *ngIf="!!dataSource.length">
  <div class="header-row">
    <div class="header-cell">Question</div>
  </div>
  <div class='drag-wrapper'>

    <mat-accordion [dragula]='questions-bag' [dragulaModel]='dataSource'>
      <mat-expansion-panel *ngFor="let item of dataSource; let i = index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{i+1}}) {{item.label}}
          </mat-panel-title>
          <mat-panel-description>
            ({{item.choices.length}}) Choices
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div>
          <div class='mat-caption'>Answers</div>
          <div *ngFor='let choice of item.choices; let j = index' class='tap'>
            <span>{{j+1}})</span>
            <span>{{ choice.label}}</span>
            <strong *ngIf='choice.answered'>(answer)</strong>
          </div>

          <div *ngIf='!!item.message' style="margin-top: 10px">
            <div class='mat-caption'>Educational Message</div>
            <div class='tap'>{{item.message}}</div>
          </div>
        </div>

        <mat-action-row *ngIf='!isAdmin && story.status == "new"'>
          <button mat-icon-button (click)="openDialog(item)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="remove(item)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-action-row>

      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>

<button mat-fab class='add-button' (click)="openDialog()" *ngIf='!isAdmin && story.status == "new"'>
  <mat-icon>add</mat-icon>
</button>
