<h1 mat-dialog-title>{{data.header}}</h1>

<form (ngSubmit)="handleSubmit()">
  <div mat-dialog-content>
    <div class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" [formControl]='name' required>
        <mat-error *ngIf="name.hasError('required')">Can't be blank</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-select placeholder="Scene" [formControl]='link_scene_id' required>
          <mat-option *ngFor="let scene of scenes" [value]="scene.id">
            {{ scene.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="link_scene_id.hasError('required')">Can't be blank</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color='primary' type='submit'>Save</button>
    <button mat-button type="button" [mat-dialog-close]=''>Cancel</button>
  </div>
</form>
