<mat-toolbar color="primary">
  <app-menu-button></app-menu-button>
  <span *ngIf='!!story'>{{story.title}}'s Scenes</span>
  <span class='spacer'></span>
  <a mat-button routerLink="/stories/{{story_id}}/preview" routerLinkActive="active">Preview</a>
  <a mat-button routerLink="/stories" routerLinkActive="active">Done</a>
</mat-toolbar>

<section class="mat-typography flex-center" *ngIf='!dataSource.length || loading'>
  <div *ngIf="!dataSource.length && !loading" class='no-item-available'>
    <h3 class='mat-title'>No Story Scene Available.</h3>
    <div class="mat-body-1" *ngIf='!isAdmin'>
      Use <strong>+</strong> button at the bottom-right corner.
    </div>
  </div>

  <mat-spinner diameter='40' *ngIf='loading' color='accent'></mat-spinner>
</section>

<div class="content-wrapper" *ngIf="dataSource.length">
  <div class="header-row">
    <div class="header-cell">Title</div>
    <div class="header-cell">Description</div>
    <div class="header-cell">Image</div>
    <div class="header-cell">Actions</div>
    <div class="header-cell"></div>
  </div>
  <div class='drag-wrapper'>
    <div class='drag-container' [dragula]="scenes-bag" [dragulaModel]='dataSource'>
      <div *ngFor="let item of dataSource; let i = index" class='row'>
        <div class='cell'>
          <span>{{ item.name }}</span>
          <strong *ngIf='i==0'>(root)</strong>
        </div>
        <div class='cell'>{{ item.description}}</div>
        <div class='cell'>
          <div class="thumbnail" *ngIf='!!item.image'>
            <img [src]="'http://192.168.1.107:3000' + item.image" />
          </div>
        </div>

        <div class="cell"> {{item.scene_actions.length}} (links) </div>

        <div class="cell">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDialog(item)" *ngIf='!isAdmin && story.status == "new"'>
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>

            <button mat-menu-item (click)="remove(item)" *ngIf='!isAdmin && story.status == "new"'>
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>

            <button mat-menu-item (click)="openSceneActionDialog(item)" *ngIf='!isAdmin'>
              <mat-icon>list</mat-icon>
              <span>Manage actions</span>
            </button>
          </mat-menu>
        </div>

      </div>
    </div>
  </div>
</div>

<button mat-fab class='add-button' (click)="openDialog()" *ngIf='!isAdmin && story.status == "new"'>
  <mat-icon>add</mat-icon>
</button>
