:host {
  width: 100%;
  display: flex;
}

.thumbnail img {
  max-width: 40px;
  max-height: 40px;
}

.content-wrapper {
  background-color: #fff;
  overflow: scroll;
  margin-bottom: 0;
  padding-bottom: 24px;
}
