<h1 mat-dialog-title>{{data.header}}</h1>

<form (ngSubmit)="handleSubmit()" class='mat-typography'>
  <div mat-dialog-content>
    <div class="example-form">
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Title"
          [formControl]='title'
          required>
        <mat-error *ngIf="title.hasError('required')">can't be blank</mat-error>
        <mat-error *ngIf="title.hasError('server')">{{this.title.errors.server}}</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea
          matInput
          matTextareaAutosize
          placeholder="Description"
          matAutosizeMaxRows="5"
          [formControl]='description'
          required></textarea>
        <mat-error>can't be blank</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let tag of tags" (remove)="remove(tag)">
            {{tag.title}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input placeholder="Tags *"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="add($event)"
            (blur)="onBlur()"/>
        </mat-chip-list>

        <div [hidden]="!showError" class="mat-form-field-subscript-wrapper" style='top: 38px;'>
          <div style='opacity: 1; transform: translateY(0%);'>
            <div class='mat-error'>can't be blank</div>
          </div>
        </div>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder='Author'
          [formControl]='author'>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-select placeholder="License (Creative Commons) *" [formControl]='license'>
          <mat-option *ngFor="let license of licenses" [value]="license" >
            {{license}}
          </mat-option>
        </mat-select>

        <mat-error>can't be blank</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder='Acknowledgement / Source Link'
          [formControl]='source_link'>
      </mat-form-field>

      <div class="example-full-width img-section">
        <div style='margin-bottom: 4px;'>
          <span>Cover Image* </span>
          <span class='mat-caption'>(512 x 512)</span>
        </div>

        <div class="img-wrapper" [ngClass]="{'error': isSubmitted && !previewUrl}">
          <div class="thumbnail">
            <img *ngIf='!!this.previewUrl' [src]="this.previewUrl" />
            <mat-icon *ngIf='!this.previewUrl' class='default-image'>image</mat-icon>
          </div>

          <button mat-raised-button type='button' (click)='imgFileInput.click()' style='width: 100%;'>
            <mat-icon>camera</mat-icon>
            <span>Select File</span>
          </button>
        </div>

        <mat-error style='font-size: 75%' *ngIf="isSubmitted && !previewUrl">can't be blank</mat-error>

        <input hidden type='file' accept='image/*' #imgFileInput (change)="handleFileInput($event.target.files)"/>
      </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color='primary' type='submit' cdkFocusInitial [disabled]="isSubmitted">Save</button>
    <button mat-button type='button' [mat-dialog-close]=''>Cancel</button>
  </div>
</form>
