:host {
  width: 100%;
  display: flex;
}

.thumbnail img {
  max-width: 40px;
  max-height: 40px;
}

.error {
  color: #f44336;
}

.flex-2 {
  flex: 2;
}

.published {
  font-weight: 500;
  color: green;
}

.pending {
  color: orange;
}

.rejected {
  color: red;
}

.flex-layout {
  display: flex;
}
