<mat-toolbar color="primary">
  <app-menu-button></app-menu-button>
  <span>Stories</span>
</mat-toolbar>

<section class="mat-typography flex-center" *ngIf='!hasData || loading'>
  <div *ngIf="!dataSource.length && !loading" class='no-item-available'>
    <h3 class='mat-title'>No Story Available.</h3>
    <div class="mat-body-1" *ngIf="!isAdmin">
      Use <strong>+</strong> button at the bottom-right corner.
    </div>
  </div>

  <mat-spinner diameter='40' *ngIf='loading' color='accent'></mat-spinner>
</section>

<div class="content-wrapper" [hidden]="!hasData || loading">

  <div class='flex-layout'>
    <span class="spacer"></span>
    <mat-form-field style='margin-right: 10px;'>
      <mat-select placeholder="" [(ngModel)]="status" name='status' (selectionChange)="filterData()">
        <mat-option *ngFor="let status of statuses" [value]="status">
          <span>{{ status.label }}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class='flex-2'> Title </mat-header-cell>
      <mat-cell *matCellDef="let element" class='flex-2'>
        {{element.title}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef class='flex-2'>Description</mat-header-cell>
      <mat-cell *matCellDef="let element" class='flex-2'> {{element.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tags">
      <mat-header-cell *matHeaderCellDef> Tags </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-chip-list>
          <mat-chip *ngFor='let tag of element.tags'>{{tag.title}}</mat-chip>
        </mat-chip-list>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="thumbnail" *ngIf='!!element.image'>
          <!-- <img [src]="'http://192.168.1.107:3000' + element.image" /> -->
          <img [src]="element.image" />
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="by" *ngIf='isAdmin'>
      <mat-header-cell *matHeaderCellDef> Created By </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span>{{element.user.email}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="element.actived" [ngClass]="element.status">{{element.status | uppercase}}</span>
        <span *ngIf="!element.actived">{{'Deactivated' | uppercase}}</span>
        <button *ngIf="!element.actived || element.status == 'rejected'" mat-icon-button (click)="showReason(element)">
          <mat-icon class='error'>info_outline</mat-icon>
        </button>

      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div [hidden]='isAdmin'>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDialog(element)" [disabled]="!element.actived || (element.status!='new' && element.status!='rejected')">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>

            <button mat-menu-item (click)="remove(element)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>

            <button mat-menu-item (click)="publish(element)" *ngIf="element.status=='new' || element.status=='rejected'" [disabled]="!element.actived">
              <mat-icon>visibility</mat-icon>
              <span>Submit To Review</span>
            </button>

            <button mat-menu-item (click)="clone(element)">
              <mat-icon>content_copy</mat-icon>
              <span>Clone</span>
            </button>

            <a mat-menu-item routerLink="/stories/{{element.id}}/scenes">
              <mat-icon>list</mat-icon>
              <span>Manage scenes</span>
            </a>

            <a mat-menu-item routerLink="/stories/{{element.id}}/quiz">
              <mat-icon>question_answer</mat-icon>
              <span>Manage quiz</span>
            </a>

            <a mat-menu-item routerLink="/stories/{{element.id}}/preview">
              <mat-icon>phone_android</mat-icon>
              <span>Preview</span>
            </a>
          </mat-menu>
        </div>

        <div [hidden]='!isAdmin'>
          <button mat-icon-button [matMenuTriggerFor]="adminMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #adminMenu="matMenu">
            <a mat-menu-item routerLink="/stories/{{element.id}}/scenes">
              <mat-icon>list</mat-icon>
              <span>Scenes</span>
            </a>

            <a mat-menu-item routerLink="/stories/{{element.id}}/quiz">
              <mat-icon>question_answer</mat-icon>
              <span>Quiz</span>
            </a>

            <a mat-menu-item routerLink="/stories/{{element.id}}/preview">
              <mat-icon>phone_android</mat-icon>
              <span>Preview</span>
            </a>

            <button mat-menu-item (click)="approve(element)" *ngIf="element.status=='pending'">
              <mat-icon>check_circle_outline</mat-icon>
              <span>Approve</span>
            </button>

            <button mat-menu-item (click)="showConfirmRecject(element)" *ngIf="element.status=='pending'">
              <mat-icon>pan_tool</mat-icon>
              <span>Reject</span>
            </button>

            <button mat-menu-item (click)="confirmDeactivate(element)" [disabled]="element.status == 'new' || !element.actived">
              <mat-icon>delete</mat-icon>
              <span>Deactivate</span>
            </button>
          </mat-menu>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [length]="length"
                [pageSize]="pageSize"
                [pageSizeOptions]="[20, 50, 100]"
                (page)="pageEvent = getNextData($event)"
                style='margin-bottom: 24px;'>
  </mat-paginator>
</div>

<button mat-fab class='add-button' (click)="openDialog()" *ngIf='!isAdmin'>
  <mat-icon>add</mat-icon>
</button>
