.login-form {
  display: flex;
  flex-direction: column;
}

.actions {
  margin-top: 24px;
}

.my-container {
  display: flex;
  flex-direction: 'column';
  justify-content: center;
  padding: 30px;
}

.header-wrapper {
  margin-right: 24px;
}

.logo {
  max-width: 150px;
}

.btn-signup {
  width: 400px;
  margin: 0 auto;
  text-align: right;
  margin-top: 20px;
}
