<div class="my-container mat-typography">

  <div style="display: flex; flex-grow: 1; padding-top: 100px">
    <div  class='header-wrapper'>
      <img src='../../../assets/images/logo.png' class='logo' />
    </div>

    <div>
      <h1 class='mat-title header' class='header-title'>Interactive Storytelling Library</h1>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="form.controls.email.hasError('email') && !form.controls.email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="form.controls.email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Enter your password" type="password" formControlName="password" required>
          <mat-error>Password is required</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class='actions'>Login</button>
      </form>

      <div class="btn-signup">
        <button mat-button (click)="openDialog()">Want to be a publisher?</button>
      </div>

      <div class="mobile-wrapper">
        <a mat-button target="_blank" [href]="mobileAppUrl" >
          <span>Download Mobile App?</span>
        </a>

        <div class="qr-code">
          <img src='../../../assets/images/qr_code.png' />
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>

