.login-form {
  display: flex;
  flex-direction: column;
}

.actions {
  margin-top: 24px;
}

.my-container {
  display: flex;
  flex-direction: 'column';
  justify-content: center;
  padding-top: 100px;
}

.content {
  display: flex;
}

.header-wrapper {
  margin-right: 100px;
}

.logo {
  max-width: 270px;
}

.btn-signup {
  width: 400px;
  margin: 0 auto;
  text-align: right;
  margin-top: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #eee;
}
