.login-form {
  display: flex;
  flex-direction: column;
}

.actions {
  margin-top: 24px;
}

.my-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 770px;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
}

.content {
  display: flex;
}

.header-wrapper {
  margin-right: 100px;
}

.logo {
  max-width: 270px;
}

.btn-signup {
  width: 400px;
  margin: 0 auto;
  text-align: right;
  margin-top: 20px;
}
