<div mat-dialog-content class="mat-typography mat-body-1">
  <h4>Educational message</h4>

  <div>
    <audio controls *ngIf='!!data.question.educational_message_audio'>
      <source [src]="endpointUrl + data.question.educational_message_audio" type="audio/mpeg">
        Your browser does not support this audio format.
    </audio>
  </div>

  <div><pre>{{data.question.message}}</pre></div>
</div>

<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]='' color='primary'>OK</button>
</div>
