<mat-toolbar color="primary">
  <app-menu-button></app-menu-button>
  <span>Users</span>
</mat-toolbar>

<section class="mat-typography flex-center" *ngIf='!hasData || loading'>
  <div *ngIf="!dataSource.length && !loading" class='no-item-available'>
    <h3 class='mat-title'>No User Available.</h3>
    <div class="mat-body-1">
      Use <strong>+</strong> button at the bottom-right corner.
    </div>
  </div>

  <mat-spinner diameter='40' *ngIf='loading' color='accent'></mat-spinner>
</section>

<div class="content-wrapper" [hidden]="!hasData || loading">
  <div class='flex-layout'>
    <span class="spacer"></span>
    <mat-form-field style='margin-right: 10px;'>
      <mat-select placeholder="" [(ngModel)]="status" name='status' (selectionChange)="filterData()">
        <mat-option *ngFor="let status of statuses" [value]="status">
          <span>{{ status.label }}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.role}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let user">
        <span [ngClass]="user.status">{{user.status}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let user; let i=index;">

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="copyConfirmLink(user)" *ngIf="user.status == 'approved'">
            <mat-icon>file_copy</mat-icon>
            <span>Copy Confirm Link</span>
          </button>

          <button mat-menu-item (click)="approve(user)" *ngIf="user.status == 'pending'">
            <mat-icon>check_circle_outline</mat-icon>
            <span>Approve</span>
          </button>

          <button mat-menu-item (click)="openDialog(user)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>

          <button mat-menu-item (click)="delete(user)" [disabled]="user.status == 'inactived'">
            <mat-icon>delete</mat-icon>
            <span>Deactivate</span>
          </button>
        </mat-menu>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [length]="length"
                [pageSize]="pageSize"
                [pageSizeOptions]="[20, 50, 100]"
                (page)="getNextData($event)">
  </mat-paginator>

</div>

<button mat-fab class='add-button' (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>
