/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './assets/css/dragula.min.css';

body {
  margin: 0;
}

.spacer {
  flex: 1 1 auto;
}

mat-sidenav {
  width: 250px;
}

.container {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-toolbar {
  position: fixed !important;
  z-index: 10;
}

.content-wrapper {
  width: 80%;
  margin: 64px auto;
  margin-top: 80px;
}

.add-button {
  position: fixed !important;
  right: 24px;
  bottom: 24px;
}

.mat-drawer-content {
  display: flex  !important;
}

.no-item-available {
  display: flex !important;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-center {
  display: flex !important;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

[hidden] {
  display: none !important;
}

/*======= Table layout=========*/
.header-row, .row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0,0,0,.12);
  align-items: center;
  padding: 0 24px;
  box-sizing: border-box;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.header-row {
  min-height: 56px;
}

.row {
  min-height: 50px;
  min-width: 600px;
}

.header-cell, .cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}

.header-cell {
  color: rgba(0,0,0,.54);
  font-size: 12px;
  font-weight: 500;
}

.cell {
  color: rgba(0,0,0,.87);
  font-size: 14px;
}

/*======= dragula-specific example page styles ========*/
.drag-wrapper {
  display: table;
  width: 100%;
}

.drag-container {
  display: table-cell;
  width: 100%;
}

.drag-container > div {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.gu-mirror {
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease-in-out;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.gu-transit {
  background-color: rgba(0, 0, 0, 0.2);
}
