/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~angular-tree-component/dist/angular-tree-component.css';

body {
  margin: 0;
}

.spacer {
  flex: 1 1 auto;
}

mat-sidenav {
  width: 250px;
}

.container {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-toolbar {
  position: fixed !important;
}

.content-wrapper {
  width: 80%;
  margin: 64px auto;
  margin-top: 80px;
}

.add-button {
  position: fixed !important;
  right: 24px;
  bottom: 24px;
}

.mat-drawer-content {
  display: flex  !important;
}

.no-item-available {
  display: flex !important;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-center {
  display: flex !important;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
