<mat-toolbar color="primary">
  <app-menu-button></app-menu-button>
  <span>Preview Story: {{story.title}}</span>
  <span class='spacer'></span>
  <a mat-button (click)='location.back()'>Done</a>
</mat-toolbar>

<section class="mat-typography flex-center" *ngIf='(!dataSource.length && !questions.length) || loading'>
  <div *ngIf="!dataSource.length && !loading" class='no-item-available'>
    <h3 class='mat-title'>No Scene Available.</h3>
  </div>

  <mat-spinner diameter='40' *ngIf='loading' color='accent'></mat-spinner>
</section>

<div class="content-wrapper demo-phone mat-typography" [hidden]="(!dataSource.length && !questions.length) || loading">

  <carousel #carousel="carousel" [showControls]="false" class='slide-wrapper'>

    <ng-container *ngFor="let scene of dataSource">
      <ng-container *carouselItem>
        <div class='flow-row flex1' style='position: relative;'>
          <div class="item flex-column flex1">

            <div class='mat-subheading-2 name' *ngIf='scene.visible_name'>{{scene.name}}</div>

            <div class="thumbnail bg" *ngIf='(!!scene.image && scene.image_as_background) || !scene.image'>
              <img [src]="endpointUrl + scene.image" *ngIf='!!scene.image && scene.image_as_background' />
            </div>

            <div class="thumbnail">
              <div *ngIf='!!scene.image && !scene.image_as_background'>
                <img [src]="endpointUrl + scene.image" />
              </div>
            </div>

            <div class='description'>{{scene.description}}</div>

            <div class='actions flex-column' *ngIf='!scene.is_end' style='max-width: 100%;'>
              <a *ngFor="let action of scene.scene_actions" mat-raised-button (click)="slideTo(carousel, action.link_scene_id)" [hidden]='!action.link_scene_id && !this.questions.length'>
                <span *ngIf='!!action.link_scene_id'>{{action.name}}</span>
                <span *ngIf='!action.link_scene_id'>Go to quiz</span>
              </a>
            </div>

            <div class='actions flex-column' *ngIf='scene.is_end && this.questions.length'>
              <a mat-raised-button (click)="slideTo(carousel, null)"> Go to quiz </a>
            </div>

          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngFor="let question of questions; let i = index">
      <ng-container *carouselItem>
        <div class='flow-row flex1'>
          <div class="item flex-column flex1" style='max-width: 100%;'>
            <div class='mat-title name'>Quiz: question {{i + 1}}/{{questions.length}}</div>
            <div class='flex1 flex-center description'>{{question.label}}</div>

            <div class='actions flex-column'>
              <a *ngFor="let choice of question.choices" mat-raised-button class="btn btn-success" (click)='slideQuizTo(carousel, i+1, choice)'>{{choice.label}}</a>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>

  </carousel>

</div>
