<mat-toolbar color="primary">
  <app-menu-button></app-menu-button>
  <span>Preview Story</span>
  <span class='spacer'></span>
  <a mat-button routerLink="/stories/{{story_id}}/scenes" routerLinkActive="active">Done</a>
</mat-toolbar>

<section class="mat-typography flex-center" *ngIf='(!dataSource.length && !questions.length) || loading'>
  <div *ngIf="!dataSource.length && !loading" class='no-item-available'>
    <h3 class='mat-title'>No Scene Available.</h3>
  </div>

  <mat-spinner diameter='40' *ngIf='loading' color='accent'></mat-spinner>
</section>

<div class="content-wrapper demo-phone mat-typography" [hidden]="(!dataSource.length && !questions.length) || loading">

  <carousel #carousel="carousel" [showControls]="false" class='slide-wrapper'>

    <ng-container *ngFor="let scene of dataSource">
      <ng-container *carouselItem>
        <div class='flow-row flex1'>
          <div class="item flex-column flex1">

            <div>{{scene.name}}</div>

            <div class="thumbnail" *ngIf='!!scene.image'>
              <div>
                <img [src]="'http://192.168.1.107:3000' + scene.image" />
              </div>
            </div>

            <div class='description'>{{scene.description}}</div>

            <div class='actions flex-column'>
              <a *ngFor="let action of scene.scene_actions" mat-raised-button (click)="slideTo(carousel, action.link_scene.id)" class="btn btn-success">
                <span *ngIf='!!action.link_scene.id'>{{action.name}} Link to {{action.link_scene.id}}</span>
                <span *ngIf='!action.link_scene.id'>Go to quiz</span>
              </a>

              <a *ngIf='!scene.scene_actions.length' mat-raised-button (click)="slideTo(carousel, null)" class="btn btn-success">
                Go to quiz
              </a>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngFor="let question of questions; let i = index">
      <ng-container *carouselItem>
        <div class='flow-row flex1'>
          <div class="item flex-column flex1">
            <div class='mat-title'>Quiz: question {{i + 1}}/{{questions.length}}</div>
            <div class='flex1 flex-center'>{{question.label}}</div>

            <div class='actions flex-column'>
              <a *ngFor="let choice of question.choices" mat-raised-button class="btn btn-success" (click)='slideQuizTo(carousel, i+1)'>{{choice.label}}</a>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>

  </carousel>

</div>
